footer.footer
  .content.is-size-7-mobile.has-text-centered
     p Copyright © 2024 All rights reserved | This website is made with ❤️ by 
       a(href="https://instagram.com/joseph_aluya") Rume Aluya
