extends base

block content
  main.main
    .error.container
      .error.text-center.m-5
        h2.heading-secondary.heading-secondary--error Uh oh! Something went wrong!   
        h2.error__emoji 😢 🤯
      .error__msg.text-center= msg