extends base

block content
  section.section
    .has-text-centered.p-5
       .container
          h1.is-size-2.is-size-4-mobile.has-text-centered
            strong NaijiaRealtyAPI: a PropertyPro.ng <br> Data Scraper that just works
          .content.has-text-centered
             p.my-5.is-size-6-mobile NaijiaRealtyAPI is an api that provides ready-to-use property data from PropertyPro.ng in JSON format.
          .has-text-center
             a.button.has-text-centered.is-size-4.is-size-5-mobile.is-primary.pulse(href="./docs.html")
               span.icon
                 i.fa.fa-book
               span Get 
                 strong started
  section.section
    p.is-size-2.is-size-4-mobile.has-text-centered 
      strong Features
    .columns.has-text-centered.my-4.is-desktop
       .column.p-3
          i.fa.is-size-2-mobile.is-size-1-desktop.icon-home.fa-cogs(aria-hidden="true")
          h2.my-4 Well structural data
          p.is-size-6-mobile.my-4 Get data in JSON format with simple HTTP requests.
       .column.p-3
          i.fa.is-size-2-mobile.is-size-1-desktop.icon-home.fa-send-o(aria-hidden="true")
          h2.my-4 Easy to get started and use
          p.is-size-6-mobile.my-4 Subscribe for a pan,generate an api key,and make your first request
       .column.p-3
          i.fa.is-size-2-mobile.is-size-1-desktop.icon-home.fa-clock-o(aria-hidden="true")
          h2.my-4 Live official data
          p.is-size-6-mobile.my-4 We assure you the data you see are as same as on the official website.